<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="<%= rocketio_js %>"></script>
    <script src="index.js"></script>
  </head>
  <body>
    <h1>RocketIO hello world</h1>
    <input type="text" id="text" value="hello!!!"></input>
    <input type="button" id="btn" value="push"></input>
  </body>
</html>
